# Miscellaneous
*.class
*.log
.DS_Store

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Kotlin sessions
android/.kotlin/sessions/
pubspec.lock

# Secrets & signing
android/key.properties
**/*.keystore
**/*.jks
android/app/google-services.json
lib/firebase_options.dart

# Environment
.env
.env.*
flutter_01.png
.vscode/